body {
    font-family: 'Roboto', sans-serif;
    /* background from https://uigradients.com/#BoraBora */
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#container {
    width: 360px;
    margin: 100px auto; /* 100px for Top and Bottom --- Auto for Left and Right */
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); /* instead of a border, added a box-shadow */
}

h1 {
    background: #2980e9;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal; /* or 400 */
}

.fa-plus {
    float: right;
}

input {
    border: 3px solid rgba(0, 0, 0, 0); /* invisible 3px border to match the input:focus border */
    color: #2980e9;
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px; /* top right bottom left */
    box-sizing: border-box; /* keeps everything inside the parent element */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display:none;
}

input:focus { /* only selects the input when it is focused */
    background: #fff;
    border: 3px solid #2980e9;
    outline: none;
}

ul {
    list-style: none; /* this removes the bullet points from te list */
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) { /* selects every second li (every other) */
    background: #f7f7f7;
}

.completed {
    color: grey;
    text-decoration: line-through;
}

span {
    background: #e74c3c;
    color: #fff; /* the color of the icon itself */
    height: 40px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    width: 0;
    opacity: 0; /* even with width: 0 the icon was showing (slightly), this makes it invisible */
}

li:hover span { /* when the user hovers on the li, the SPAN is selected */
    width: 40px;
    transition: 0.2s linear;
    opacity: 1;
}
